@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');
@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --loading-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .48) 49.48%, rgba(255, 255, 255, 0) 100%);
  --color-orange-50: #FF9933;
  --color-blue-100: #5A7EDC; 
  --color-blue-600: #003399;
  --color-orange-100: #FF9933;
  --color-brown-100: #660000;
  --color-purple-300: #3E35AB;
  --color-yealow-100: #FFFF00;
  --color-blue-800:  #081BCB;
  --color-blue-500:#0062EA;
  --color-red-300: #FF3300 ;
  --color-custom-green: linear-gradient(180deg, #509d4f 0%, #499e47 69.2%, #48b347 100%);
  --color-blue-400: #3C95F3;
}
@theme {


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Arimo", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

@keyframes playerBarBounce {
  0%   { height: 6px; }
  100% { height: 56px; }
}

.player-bar-animate {
  animation: playerBarBounce infinite alternate ease-in-out;
}
