@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');
@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --loading-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .48) 49.48%, rgba(255, 255, 255, 0) 100%);
  --color-orange-50: #FF9933;
  --color-blue-100: #5A7EDC; 
  --color-blue-600: #003399;
  --color-orange-100: #FF9933;
  --color-brown-100: #660000;
  --color-purple-300: #3E35AB;
  --color-yealow-100: #FFFF00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Arimo", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

}
